// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  height: 65px;
}

#map {
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index:-1;
}